<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MyPyramid</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

</head>
<body class="bg-dark">

<div class=" my-container">
    <div class="box w-100">
        
        @RenderBody()
        
    </div>
</div>

<footer class="position-fixed w-100 h-100 bg-dark">
    <p class="text-center text-secondary">© @DateTime.Today.Year MyPyramid</p>
</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>